.first_Page {
    width: 100%;

}
.page__center {
    background-image: url(../img/future-artificial-intelligence\ \(1\).png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}
.page__text {
    font-size: 52px;
    font-weight: 800;
    align-items: center;
    color: rgb(255, 255, 255);
    box-shadow: 17px 27px 50px 9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 17px 27px 50px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 27px 50px 9px rgba(0,0,0,0.75);

}


