.header {
    width: 100%;
    justify-content: space-between;
}
.header__name {
    display: flex;
    justify-content: inline;
    gap: 10px;
    padding: 5px 5px;
}
.name__img {
    padding: 5px 5px;
    width: 40px;
    height: 40px;
}
.name__text {
    font-size: 20px;
    opacity: .8;
}