@import url(./header.css);
@import url(./first_page.css);
@import url(./Ai-WhatIsIt.css);
@import url(./naprav.css);
@import url(./1_napr.css);
@import url(./napr-2.css);
@import url(./napr-3.css);
@import url(./napr-4.css);
@import url(./napr-5.css);
@import url(./napr-6.css);
@import url(./napr-7.css);
@import url(./napr-8.css);
@import url(./napr-9.css);

.cont {
    padding: 0 50px;
}

* {
    box-sizing: border-box;
    z-index: 1;
}

